/* Your app custom files in this file */
/* Tab bar icons */

.title{
  color: black;
  font-weight: bold;
}

.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
   color: red;
}

.item-media .f7-icons, .item-media .framework7-icons{
  font-size: 22px;
}
